:root {

  --color-0: #ffffff; /* box color */



  --color-1: #cceecc; /* */

  --color-2: #e3f1af; /* */

  --color-3: #4bc84b; /* main color */

  --color-4: #71da35; /* sub  color */

  --color-5: #cff1af; /* */

}



header #header-bar > .row {

    padding-top: 0.3em; padding-bottom: 0.3em; border-top: 4px solid var(--color-5);

    background: -webkit-linear-gradient(45deg, var(--color-3) 0%,var(--color-5) 11%,var(--color-2) 100%);

    border-bottom: 2px solid var(--color-1); border-right: 2px solid var(--color-1) 

}

@font-face {
  font-family: 'rfont';
  font-style: normal;
  font-weight: 400;
  src: url(https://github.com/Atrshu/csss/blob/main/rfont.woff) format('woff');
  unicode-range: U+ce3c-ce57, U+ce5a-ce5b, U+ce5d-ce5f, U+ce61-ce67, U+ce6a, U+ce6c, U+ce6e-ce73, U+ce76-ce77, U+ce79-ce7b, U+ce7d-ce83, U+ce85-ce88, U+ce8a-ce8f, U+ce91-ce93, U+ce95-ce97, U+ce99-ce9f, U+cea2, U+cea4-ceab, U+cead-cee3, U+cee6-cee7, U+cee9-ceeb, U+ceed-ceef;

